opencv-python-headless
numpy<2.0.0
easyocr
google-genai
python-dotenv
streamlit
pillow
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu